.dashboard {
  display: flex;
  min-height: 100vh;
  background: var(--color-bg);
}

.content {
  flex: 1;
  padding: var(--space-xl);

  display: flex;
  flex-direction: column;
}

.motionContainer {
  height: 100%;
}

@media (min-width: 1440px) {
  .dashboard {
    display: flex;
    min-height: 100vh;
    background: var(--color-bg);
  }

  .content {
    flex: 1;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .motionContainer {
    height: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .dashboard {
    display: flex;
    min-height: 100vh;
    background: var(--color-bg);
  }

  .content {
    flex: 1;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .motionContainer {
    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .dashboard {
    display: flex;
    min-height: 100vh;
    background: var(--color-bg);
  }

  .content {
    flex: 1;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .motionContainer {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .dashboard {
    flex-direction: column;
  }

  .content {
    padding: 0rem 3rem;
  }
}

@media (max-width: 380px) {
  .dashboard {
    display: flex;
    min-height: 100vh;
    background: var(--color-bg);
    flex-direction: column;
  }

  .content {
    flex: 1;
    padding: 0rem 2.5rem;
    display: flex;
    flex-direction: column;
  }

  .motionContainer {
    height: 100%;
  }
}
